.company{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.content{

    background: url(images/it.jpg) fixed;
    background-size: auto;
    background-repeat: no-repeat;
    height: 1500px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  
}
.gamecontent{
    background-image:  url(images/somaback.jpg);
}
.contentForm{
    height: 800px;
    background: url(images/contact.jpg) fixed;
    background-size: auto;
    background-repeat: no-repeat;
  
}
.about{
    color: white;
}
.desc{
    background-color: #33B8FF;
}
.title{
    color: tomato;
}
.form-group{
    width: 300px;
    text-align: center;
}
 ul li a:hover {
    color: tomato;
}
.hint{
    color: gainsboro;
}
.logout{
    padding-left: 0px;
    
}
.welcome{
    padding-left: 1500pt;
}
p.success{
    color: rgb(41, 128, 0);
}
p.error{
    color: red;
}
#profilepic{
    cursor: pointer;
    padding-left: 50px;
}
.profile{
    border-style: solid 1px grey;
    background-color: blanchedalmond;
}
.form-group{
    border-style: 1px solid grey;
}
.user-container{
    height: 200px;
    width: 200px;
}
